name: Release Calibre Plugin

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get Version
        id: version
        run: |
          V=$(grep -E "^[[:space:]]+version =" src/__init__.py | head -1 | sed 's/[^0-9,]//g' | sed 's/,/./g' | sed 's/\.$//')
          echo "val=$V" >> $GITHUB_OUTPUT

      - name: Build ZIP
        run: |
          cd src && zip -r ../ASINFetcherv${{ steps.version.outputs.val }}.zip .

      - name: Publish
        uses: softprops/action-gh-release@v2
        with:
          files: ASINFetcherv${{ steps.version.outputs.val }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}